@font-face {
    font-family: 'bungee';
    font-weight: normal;
    font-style: normal;
    src: url('../public/Bungee-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'exo';
    font-weight: normal;
    font-style: normal;
    src: url('../public/exo.ttf') format('truetype');
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100px;
    overflow-x: clip;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/**
 * Custom Scrollbar
 */
/* ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #d8d8d8; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

/*
 * FontAwesome on page refresh and after some interaction oversizing issue workaround.
 * @see https://github.com/FortAwesome/react-fontawesome/issues/134
 */
.svg-inline--fa {
    height: 1em;
    vertical-align: -0.125em;
}


/*
 * Need these bad bois for a css flip card
 */
.my-rotate-y-180 {
    transform: rotateY(180deg)
}
.preserve-3d {
    transform-style: preserve-3d
}
.perspective {
    perspective: 1000px;
}
.backface-hidden {
    backface-visibility: hidden;
}