:root {
    /* Custom Theme Colors */
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --orange-yellow-crayola: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
}

@font-face {
    font-family: 'amity_jackregular';
    src: url('../public/amity_jack-webfont.woff2') format('woff2'), url('../public/amity_jack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    background: var(--charcoal) !important;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.logoFont {
    font-family: 'amity_jackregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    font-style: normal;
    text-decoration: none;
}

@media (min-width: 640px) {
    .projectCard {
        height: 24rem;
    }
}

@media (min-width: 768px) {
    .projectCard {
        height: 30rem;
    }
}

.bg-1 {
    background-color: var(--charcoal);
}

.bg-2 {
    background-color: var(--persian-green);
}

.bg-3 {
    background-color: var(--orange-yellow-crayola);
}

.bg-4 {
    background-color: var(--sandy-brown);
}

.bg-5 {
    background-color: var(--burnt-sienna);
}

.text-1 {
    color: var(--charcoal);
}

.text-2 {
    color: var(--persian-green);
}

.text-3 {
    color: var(--orange-yellow-crayola);
}

.text-4 {
    color: var(--sandy-brown);
}

.text-5 {
    color: var(--burnt-sienna);
}


/* Links */

.link {
    color: var(--burnt-sienna);
    font-size: 3em;
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
}

.link:hover {
    color: var(--sandy-brown)
}

.link-xl {
    color: var(--burnt-sienna);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
}

.link-xl:hover {
    color: var(--sandy-brown)
}

.delay08 {
    animation-delay: .4s
}

.grow {
    transition: all .4s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}